* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*~**** CONTAINER *****/

.container {
  width: 100%;
  max-width: 1000px;
  max-height: 666.6px;
  margin: 0 auto;
}

/*~**** ROW *****/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*~**** COLUMN *****/

/* < Regole comuni a tutte le colonne */

[class^="col"] {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.col {
  flex-basis: calc(100% / 45);
  max-width: calc(100% / 45);
  border: 1px solid black;
  height: 22.22px;
}

.black {
  background-color: black;
}

.light-brw {
  background-color: rgb(199, 156, 113);
}

.dark-brw {
  background-color: rgb(116, 77, 34);
}

.blue {
  background-color: rgb(0, 49, 99);
}

.yellow {
  background-color: rgb(255, 255, 0);
}
